<?xml version="1.0" encoding="UTF-8"?>
<root>
    <name>Trademark for GLPI</name>
    <key>trademark</key>
    <state>stable</state>
    <logo>https://raw.githubusercontent.com/LibreCodeCoop/trademark/master/plugin.png</logo>
    <description>
        <short>
            <en><![CDATA[Trademark for GLPI]]></en>
        </short>
        <long>
            <en><![CDATA[
               # Trademark for GLPI >= 10.0

               ![Lint](https://github.com/LibreCodeCoop/trademark/workflows/Lint/badge.svg)
               [![CodeFactor](https://www.codefactor.io/repository/github/LibreCodeCoop/trademark/badge)](https://www.codefactor.io/repository/github/LibreCodeCoop/trademark)
               [![Total Downloads](https://img.shields.io/github/downloads/LibreCodeCoop/trademark/total.svg)](https://github.com/LibreCodeCoop/trademark/releases)
               [![Current Release](https://img.shields.io/github/release/LibreCodeCoop/trademark.svg)](https://github.com/LibreCodeCoop/trademark/releases/latest)

               Allow customization of logos, background and custom CSSs

               # Installation
                * Uncompress the archive to the `<GLPI_ROOT>/plugins/trademark` directory
                * Navigate to the Configuration > Plugins page,
                * Install and activate the plugin.
               ]]></en>
        </long>
    </description>
    <homepage>https://github.com/LibreCodeCoop/trademark</homepage>
    <download>https://github.com/LibreCodeCoop/trademark/releases</download>
    <issues>https://github.com/LibreCodeCoop/trademark/issues</issues>
    <readme>https://github.com/LibreCodeCoop/trademark/wiki</readme>
    <authors>
        <author>Edgard Lorraine Messias</author>
        <author>Vitor Mattos</author>
    </authors>
    <versions>
        <version>
            <num>1.3.0</num>
            <compatibility>10.0</compatibility>
            <compatibility>10.1</compatibility>
        </version>
    </versions>
    <langs>
        <lang>en_GB</lang>
        <lang>pt_BR</lang>
    </langs>
    <license><![CDATA[AGPL]]></license>
    <tags>
        <en>
            <tag>Customization</tag>
            <tag>CSS</tag>
            <tag>SCSS</tag>
        </en>
    </tags>
    <screenshots>
      <screenshot>https://raw.githubusercontent.com/LibreCodeCoop/trademark/master/screenshots/image_1.png</screenshot>
      <screenshot>https://raw.githubusercontent.com/LibreCodeCoop/trademark/master/screenshots/image_2.png</screenshot>
   </screenshots>
</root>
